* {
    margin: 0;
    padding: 0;
}

.wrapper {

    display: flex;
    align-items: center;
    
}
.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.card-container .details{
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform:capitalize;
}
